  .twinkle {
      animation: twinkle 2s infinite ease-in-out;
      width: 50px;
      height: 50px;
      filter: drop-shadow(0 0 10px rgba(241, 203, 13, 0.5)) drop-shadow(0 0 20px rgba(221, 236, 10, 0.3));
    }

    @keyframes twinkle {
      0%, 100% {
        filter: drop-shadow(0 0 10px rgba(241, 241, 16, 0.5)) drop-shadow(0 0 20px rgba(213, 231, 14, 0.3));
      }
      50% {
        filter: drop-shadow(0 0 30px rgba(221, 218, 8, 0.9)) drop-shadow(0 0 50px rgba(255, 231, 12, 0.7));
      }
    }